.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0.5em;
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.lessons td, .lessons th.group {
    vertical-align: middle !important;
}
th.group {
    text-align: center;
}
td.auditorium {
    padding-right: 0 !important;
}
td.lesson {
    padding-left: 0 !important;
}
td.auditorium > div:after {
    content: '.';
    visibility: hidden;
}
tr.highlight {
    background-color: #d9edf7;
}
.mobile-link {
    margin-bottom: -10px;
}
.contacts {
    float: right;
    text-align: right;
}
