<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Табло</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://rawgit.com/h5bp/html5-boilerplate/master/dist/css/normalize.css">
    <link rel="stylesheet" href="https://rawgit.com/h5bp/html5-boilerplate/master/dist/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script>
        angular.module('app', [])
            .filter('spaced_group', function() {
                return function(group) {
                    return group.replace(/(\d+)/, '$1&nbsp;');
                };
            })
            .filter('joinBy', function() {
                return function(input, delimiter) {
                    return input.join(delimiter);
                };
            })
            .controller('tablo', function($scope, $http) {
                $http.get('data.php').success(function(data) {
                    $scope.days = data;
                });
            });
    </script>
</head>
<body>
    <div class="container" ng-controller="tablo" ng-include="'partials/tablo.html'"></div>
    <script type="text/ng-template" id="partials/tablo.html">
        <input type="text" class="form-control" ng-model="search.group">
        <div class="row" ng-repeat="day in days">
            <div class="col-xs-12">
                <h2>{{ day.header }}</h2>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="2" ng-repeat="header in day.table.headers">{{ header }}</th>
                        </tr>
                    </thead>
                    <tbody class="lessons">
                        <tr ng-repeat="row in shown_rows = (day.table.rows | filter: search)" id="{{ row.group }}">
                            <th class="group">{{ row.group | spaced_group }}</th>
                            <td class="auditorium text-muted" ng-repeat-start="lesson in row.lessons">
                                <div ng-repeat="sublesson in lesson">{{ sublesson.auditorium }}</div>
                            </td>
                            <td class="lesson" ng-repeat-end>
                                <div ng-repeat="sublesson in lesson">{{ sublesson.name }}</div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="shown_rows.length > 5">
                        <tr>
                            <th></th>
                            <th colspan="2" ng-repeat="header in day.table.headers">{{ header }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-12">
                <h3>Где свободно?</h3>
                <ul class="list-unstyled">
                    <li ng-repeat="header in day.table.headers">
                        <strong>{{ header }}:</strong> {{ day.free_auditoriums[$index] | joinBy: ', ' }}
                    </li>
                </ul>
            </div>
        </div>
    </script>
</body>
</html>
